html {
    height: 100%;
}
body {
  display:flex;
  justify-content: center;
  background: radial-gradient(rgb(216, 253, 253), rgb(126, 223, 247));
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
}

#container {
  margin-top: 130px;
}

/* Text container */
#containertxt {
  margin-top: 10px;
  text-align: center;
}

/* Timer container */
#containera{
  width: 200px;
  font-size: 2rem;
  border: 5px solid rgba(135, 135, 135,0.5);
  border-radius: 20px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* Time container */
.time {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgba(135, 135, 135,0.5);
  border-radius: 10px;
  margin-bottom: 20px;
}

#pnts {
  margin-left: 6px;
  margin-right: 4px;
}

/* All buttons */
.button {
  display: flex;
  justify-content: center;
}

#stop, #start, #restart {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border: 2px solid rgba(135, 135, 135,0.5);
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.7);
}

#stop:hover, #start:hover, #restart:hover {
  background-color: rgba(51, 204, 255, 0.4);
}

#stop:active, #start:active, #restart:active {
    box-shadow: inset 0px 0px 14px -9px rgba(0,0,0,0.75);
}

#stop:focus, #start:focus, #restart:focus {
  outline: none;
}